* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../gambar/bg.jpeg');
  color: #eee;
}
h2 {
  text-align: center;
}
form {
  margin: 150px auto;
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px 1px #555;
}
.input {
  margin: 10px;
  background-color: transparent;
  color: #eee;
  outline: none;
  border: none;
  padding: 10px;
}
.input:focus {
  border-bottom: 3px solid rgb(121, 255, 32);
}
button {
  width: 200px;
  margin: 30px auto;
  padding: 10px;
}
a {
  text-align: center;
  text-decoration: none;
  color: #eee;
}
a:hover {
  text-decoration: underline;
}
