* {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  overflow-y: hidden;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #626266;
}
#skill {
  background-color: #626266;
}
#skill .progress {
  height: 20px;
}
#skill .progress-bar {
  background-color: #b35dd6;
}
#project {
  background-color: #fff;
}
#project .card {
  box-shadow: 2px 2px 8px 2px #ccc;
}
hr {
  color: #000;
}
footer {
  background-color: #0099ff;
}
footer a {
  text-decoration: none;
}
nav {
  background-color: #42b7cc;
}
.gambar {
  box-shadow: 2px -2px 1px 1px #555;
  margin-top: px;
  border-radius: 50%;
}
footer span {
  color: red;
}
section {
  padding-top: 70px;
}
#team {
  background-color: #626266;
}
.facebook:hover {
  color: #3b5998;
}
.github:hover {
  color: #ccc;
}
.youtube:hover {
  color: #f81414;
}
